#title {
    position: relative;
    width: 100%;
    height: 30vh;
}

#title img {
    position: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 50%;
}

#title h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow for better readability */
    /* font-size: 3rem; */
    margin: 0;
    text-align: center;
}

#Mission{
    text-align: center;
    margin: 10vh 20vw;    
}

img{
    width: 1250px;
    max-width: 100%;
    min-width: none;
}

#talkback{
    margin: 0vh 10vw;
    position: relative;
}

#chris{
    margin: 0vh 10vw;
    position: relative;
}

.description{
    margin: 0vh 10vw;
    max-width: 100%;
}

h1{
    margin-left: 5vw;
}

h2{
    text-align: center;
}

#aboutSection{
    margin-bottom: 5vh 10vw;
}

#offer {
    margin-bottom: 10vh;
}