#title {
    position: relative;
    width: 100%;
    height: 30vh; 
    overflow: hidden;
}

#title img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 80%;
}

#title h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: grey;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow for better readability */
    /* font-size: 3rem; */
    margin: 0;
    text-align: center;
}

h1{
    margin-left: 5vw;
}

.about{
    margin-bottom: 5vh;
}

h2{
    text-align: center;
}

.description , h3, h4{
    margin: 0vh 10vw;
    max-width: 100%;
}

#event{
    margin-bottom: 10vh;
}

img{
    width: 1000%;
    max-width: 100%;
    min-width: none;
}

#steamboat{
    align-items: center;
    margin:0vh 10vw;
    position: relative;
}